.btn, .jumbotron, .nav :hover {
    border-radius: 0px;
}

.product-image {
    min-height: 100px;
}

.jumbotron h2 {
    margin-top: -20px;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}

/* .jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
} */

.jumbotron {
    width: 30wh;
    height: 20vh;
    color: #fff;
    /* background: linear-gradient(-45deg, #fbd2d6, #fbf1e4); */
    background-color:  #fbf1e4;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    padding: 4% 4% 6% 2%;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 8vh;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* product page, component Card */

/* .name {
    background: indigo;
    color: #fff;
    font-weight: bold;
} */

/* product page, component Card, black color from dark to lighter*/

/* .black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #cccccc;
}
.black-7 {
    background: #bfbfbf;
}
.balck-6 {
    background: #b3b3b3;
} */

/* cart badge in the menu */
.cart-badge, .cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: black
}

.btn {
    background-color: #e6007e;
    color: white;
    text-transform: uppercase;
    border-color: #e6007e;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    margin: 0 1.5% 0 0;
}
.btn:hover {
    background-color: #B30062;
    color: white;
    border-color:  #B30062;
}
.btn:active {
    background-color: #e6007e;
}
.card-header {
    background-color:   #fbf1e4;
    color:  #e6007e;
    font-weight: bold;
    text-transform: uppercase;
}
.card .lead {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    text-transform: uppercase;
}
.card {
    background-color:  #fbf1e4;
    border-color: #fbf1e4;
}

.black-10 {
    color:  #e6007e;
}
.search-button {
margin-left: 1.5%;
}
.input-group-text {
    background-color: #fbf1e4;
}
img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.form-control {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
.nav-link {
    color: black;
}
.nav-link:hover {
    color: #e6007e;
}
h4 {
    text-transform: uppercase;
    color: #e6007e;
    font-weight: bold;
}
.link-back {
    color: #e6007e;
}
.link-back:hover {
    color:  #B30062;
}
.lead {
    font-weight: bold;
}
.badge-warning { 
background-color:  #e6007e;
text-transform: uppercase;
margin-right: 1%;
color: white;
}
.badge-warning:hover{
    background-color:  #B30062;
    color: white;
}
.badge-danger {
    background-color:  #e6007e;
    text-transform: uppercase;
}
.badge-danger:hover {
    background-color:  #B30062;
    color: white;

}
/* .list-group-item {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    text-transform: uppercase;
} */
.container-fluid {
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.list-group-item {
    background-color:  #fbf1e4;
    
    text-transform: uppercase;
}